body {
    background-image: url(../images/background.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Фиксирует фон на месте */
    color: #ffffff;
}
.card-body {
    padding: 15px; /* Увеличьте внутренние отступы карточек */
    color: black; /* Установите цвет текста на черный */
}


.features {
    text-align: center; /* Выровнять текст по центру */
    margin: 0 auto; /* Центрировать контейнер */
    max-width: 600px; /* Установите максимальную ширину контейнера */
    padding: 20px; /* Добавьте внутренние отступы */
    margin-left: 460px;
}

.features h1, .features p {
    margin-bottom: 15px; /* Добавьте отступы между элементами */
}

.features .btn {
    margin: 5px; /* Добавьте отступы между кнопками */
}

/* Убедитесь, что текст не уезжает влево */
.features p {
    text-align: center; /* Выровнять текст по центру */
    margin: 0 auto; /* Центрировать текст */
    max-width: 100%; /* Установите максимальную ширину текста */
}


.featuresForm {
    text-align: center; /* Выровнять текст по центру */
    margin: 0 auto; /* Центрировать контейнер */
    max-width: 600px; /* Установите максимальную ширину контейнера */
    padding: 20px; /* Добавьте внутренние отступы */
    margin-left: 21%; /* Сдвинуть контейнер немного влево */
}

.featuresForm .name {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 330px;
}

.featuresForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featuresForm .form-group {
    width: 100%;
    margin-bottom: 15px;
}

.featuresForm .form-group label {
    display: block;
    margin-bottom: 5px;
}

.featuresForm .form-group input,
.featuresForm .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.features2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 260px; /* Учитываем ширину бокового меню */
}

.name2 {
    margin-bottom: 20px; /* Добавляем отступ между заголовком и кнопкой */
    margin-right: 50px;
    margin-top: 20px;
}

.delete-review-btn.btn-success {
  margin-left: -370px;

}
.text-primary {
    color: blue;
}

.text-danger {
    color: red;
}

.like-icon i, .dislike-icon i {
    cursor: pointer;
}

.comments-title {
    margin-top: 50px; /* Отступ сверху для заголовка "Комментарии" */
}

.comment-form {
    margin-left: 30px; /* Смещение формы комментариев левее */
}
.article-title {
    font-size: 4em !important; /* Увеличиваем размер текста заголовка и используем !important для приоритета */
    margin-top: 20px; /* Добавляем отступ сверху, если нужно */
}
.full{
font-size: 2.5em !important;
}

.google-font {
        font-family: 'Comfortaa', sans-serif;
        font-weight: 700;
    }

.name{
font-family: 'Comfortaa', sans-serif;
        font-weight: 700;
        font-size: 33px;
        margin-right: -30px;
        }