{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h3 class="text-center">Корзина</h3>
    {% if cart_items %}
        <div class="row">
            {% for item in cart_items %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if item.dish.image %}
                    <img src="{{ item.dish.image.url }}" class="card-img-top" alt="{{ item.dish.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.dish.name }}</h5>
                        <p class="card-text">{{ item.dish.description }}</p>
                        <p class="card-text">Цена: {{ item.dish.price }} руб.</p>
                        <p class="card-text">Количество: {{ item.quantity }}</p>
                        <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            <h3>Общая сумма: {{ total_price }} руб.</h3>
            <button class="btn btn-success" onclick="processPayment()">Оплатить заказ</button>
        </div>
    {% else %}
        <p class="text-center">Ваша корзина пуста.</p>
    {% endif %}
</div>

<script>
    function processPayment() {
        // Получаем общую сумму заказа
        var totalPrice = {{ total_price }};

        // Создаем объект данных для отправки на сервер
        var paymentData = {
            total_price: totalPrice,
            // Добавьте другие необходимые данные, такие как список товаров, идентификатор пользователя и т.д.
        };

        // Отправляем данные на сервер с помощью AJAX
        fetch('/process_payment/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}' // Добавляем CSRF токен для безопасности
            },
            body: JSON.stringify(paymentData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Оплата заказа на сумму ' + totalPrice + ' руб. успешно обработана.');
                // Здесь можно добавить логику для обновления страницы или перенаправления пользователя
            } else {
                alert('Ошибка при обработке платежа: ' + data.message);
            }
        })
        .catch(error => {
            alert('Ошибка при обработке платежа: ' + error.message);
        });
    }
</script>
{% endblock %}
