{% extends 'main/layout.html' %}
{% load static %}

{% block title %} О нас {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Боковое меню -->
            {% include 'main/layout.html' %}
        </div>
        <div class="col-md-9 content-with-sidebar">
            <div class="jumbotron mt-4 bg-white">
                <h1 class="display-4">О нас</h1>
                <p class="lead">Добро пожаловать в ресторан "Кулинарный изыск"! Мы рады приветствовать вас в нашем уютном заведении, где вы можете насладиться изысканными блюдами и приятной атмосферой.</p>
                <hr class="my-4">
                <p>Наш ресторан был основан в 2010 году с целью предложить нашим гостям уникальный кулинарный опыт. Мы гордимся использованием только самых свежих и качественных ингредиентов, чтобы создать неповторимые блюда, которые удовлетворят даже самых требовательных гурманов.</p>
                <p>Наша команда опытных поваров и обслуживающего персонала всегда готова сделать ваш визит незабываемым. Мы предлагаем широкий выбор блюд, включая традиционные и современные рецепты, а также вегетарианские и безглютеновые опции.</p>
            </div>

            <h2 class="mt-5">Наша команда</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'images/chef1.jpg' %}" class="card-img-top" alt="Шеф-повар">
                        <div class="card-body">
                            <h5 class="card-title">Иван Иванов</h5>
                            <p class="card-text">Шеф-повар</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'images/chef2.jpg' %}" class="card-img-top" alt="Шеф-повар">
                        <div class="card-body">
                            <h5 class="card-title">Мария Петрова</h5>
                            <p class="card-text">Су-шеф</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'images/chef3.jpg' %}" class="card-img-top" alt="Шеф-повар">
                        <div class="card-body">
                            <h5 class="card-title">Алексей Сидоров</h5>
                            <p class="card-text">Патисьер</p>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="mt-5">Наше местоположение</h2>
            <div id="map" style="height: 400px;"></div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([55.7558, 37.6173], 15); // Пример координат для Москвы

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([55.7558, 37.6173]).addTo(map)
        .bindPopup('Наш ресторан')
        .openPopup();
</script>
{% endblock %}

