body {
    margin: 0; /* Убираем отступы */
    padding: 0;
}

.full-width-image {
    width: 100%; /* Изображение на всю ширину */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    display: block; /* Убираем отступы снизу у изображений */
}
